@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #163338;
    --card: #f7f8f8;
    --card-foreground: #163338;
    --popover: #ffffff;
    --popover-foreground: #163338;
    --primary: #0498db;
    --primary-foreground: #ffffff;
    --secondary: #163338;
    --secondary-foreground: #ffffff;
    --muted: #e5e5e6;
    --muted-foreground: #163338;
    --accent: #e3ecf6;
    --accent-foreground: #0498db;
    --destructive: #d2042d;
    --destructive-foreground: #ffffff;
    --border: #d8eaed;
    --input: #d8eaed;
    --ring: #0498db;
    --chart-1: #0498db;
    --chart-2: #72bbc6;
    --chart-3: #f7b928;
    --chart-4: #17bf63;
    --chart-5: #e0245e;
    --sidebar: #f7f8f8;
    --sidebar-foreground: #163338;
    --sidebar-primary: #0498db;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #e3ecf6;
    --sidebar-accent-foreground: #0498db;
    --sidebar-border: #e1e8ed;
    --sidebar-ring: #0498db;
    --font-sans: Open Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 1.3rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  }

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --card: #17181c;
  --card-foreground: #d9d9d9;
  --popover: #000000;
  --popover-foreground: #e7e9ea;
  --primary: #0498db;
  --primary-foreground: #ffffff;
  --secondary: #0498db;
  --secondary-foreground: #0f1419;
  --muted: #163338;
  --muted-foreground: #72bbc6;
  --accent: #163338;
  --accent-foreground: #0498db;
  --destructive: #d2042d;
  --destructive-foreground: #ffffff;
  --border: #242628;
  --input: #72bbc6;
  --ring: #0498db;
  --chart-1: #0498db;
  --chart-2: #72bbc6;
  --chart-3: #f7b928;
  --chart-4: #17bf63;
  --chart-5: #d2042d;
  --sidebar: #17181c;
  --sidebar-foreground: #d9d9d9;
  --sidebar-primary: #0498db;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #061622;
  --sidebar-accent-foreground: #0498db;
  --sidebar-border: #38444d;
  --sidebar-ring: #0498db;
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
