@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 185 40% 15%;
    --card: 180 6% 97%;
    --card-foreground: 185 40% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 185 40% 15%;
    --primary: 203 96% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 40% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 180 2% 90%;
    --muted-foreground: 185 40% 15%;
    --accent: 209 60% 93%;
    --accent-foreground: 203 96% 44%;
    --destructive: 350 97% 41%;
    --destructive-foreground: 0 0% 100%;
    --border: 185 45% 89%;
    --input: 185 45% 89%;
    --ring: 203 96% 44%;
    --chart-1: 203 96% 44%;
    --chart-2: 185 45% 61%;
    --chart-3: 44 93% 56%;
    --chart-4: 151 76% 42%;
    --chart-5: 347 97% 41%;
    --sidebar: 180 6% 97%;
    --sidebar-foreground: 185 40% 15%;
    --sidebar-primary: 203 96% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 209 60% 93%;
    --sidebar-accent-foreground: 203 96% 44%;
    --sidebar-border: 204 12% 90%;
    --sidebar-ring: 203 96% 44%;
    --radius: 1.3rem;
    
    --font-sans: 'Open Sans', sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;

    --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 220 5% 10%;
    --card-foreground: 0 0% 85%;
    --popover: 0 0% 0%;
    --popover-foreground: 204 5% 91%;
    --primary: 203 96% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 96% 44%;
    --secondary-foreground: 210 9% 8%;
    --muted: 185 40% 15%;
    --muted-foreground: 185 45% 61%;
    --accent: 185 40% 15%;
    --accent-foreground: 203 96% 44%;
    --destructive: 350 97% 41%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 3% 15%;
    --input: 185 45% 61%;
    --ring: 203 96% 44%;
    --chart-1: 203 96% 44%;
    --chart-2: 185 45% 61%;
    --chart-3: 44 93% 56%;
    --chart-4: 151 76% 42%;
    --chart-5: 350 97% 41%;
    --sidebar: 220 5% 10%;
    --sidebar-foreground: 0 0% 85%;
    --sidebar-primary: 203 96% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 206 56% 8%;
    --sidebar-accent-foreground: 203 96% 44%;
    --sidebar-border: 204 22% 26%;
    --sidebar-ring: 203 96% 44%;
    --radius: 1.3rem;
    
    --font-sans: 'Open Sans', sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;

    --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
    --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
